In [64]:
import theano
import theano.tensor as tt
import numpy as np

X = tt.vector('X')
period = tt.iscalar('period')
order = tt.iscalar('order')

def sdiff(X, p):
    return tt.set_subtensor((X - tt.roll(X, p))[:p], np.nan)

result, _ = theano.scan(fn=sdiff,
                        outputs_info=X,
                        non_sequences=period,
                        n_steps=order)

nabla = theano.function(inputs=[X, period, order], outputs=result[-1])

print(nabla((1, 7, 2, 3, 5, 8, 13), 2, 1))
print(nabla((1, 7, 2, 3, 5, 8, 13), 2, 2))

[ nan  nan   1.  -4.   3.   5.   8.]
[ nan  nan  nan  nan   2.   9.   5.]

In [93]:
ts = (1, 7, 2, 3, 5, 8, 13)
order = (1, 2, 0)
seasonal_order = (0, 1, 0, 2)

X = tt.vector('X')
p = tt.iscalar('p')
d = tt.iscalar('d')
q = tt.iscalar('q')
P = tt.iscalar('P')
D = tt.iscalar('D')
Q = tt.iscalar('Q')
s = tt.iscalar('s')

def sdiff(X, s):
    return tt.set_subtensor((X - tt.roll(X, s))[:s], np.nan)

result, _ = theano.scan(fn=sdiff, outputs_info=X, non_sequences=s, n_steps=d)

nabla = theano.function(inputs=[X, s, d], outputs=result[-1])

nabla(ts, seasonal_order[3], order[1])

array([ nan,  nan,  nan,  nan,   2.,   9.,   5.])

In [85]:
order[1].eval()

array(2)

In [ ]:
order = tt.iscalar('order')
period = tt.iscalar('period')
X = tt.vector('X')

def nabla(X, order, period):
    return tt.roll(X, period)

result, updates = theano.scan(fn=nabla,
                              outputs_info=X,
                              n_steps=order)

nabla = theano.function(inputs=[X, order, period], outputs=final_result)

nabla((1, 7, 2, 3, 5, 8, 13), 1, 2)